<div>
  <div
    id="mainBG"
    style="background-image: url('{{ if $.Site.Params.mainbg }}{{ $.Site.Params.mainbg }}{{ else }}https://picsum.photos/1920/1080{{ end }}');"
  >
    <div
      class="wave wave1"
      style="background-image: url('{{ .Site.BaseURL }}/img/wave.png');"
    ></div>
    <div
      class="wave wave2"
      style="background-image: url('{{ .Site.BaseURL }}/img/wave.png');"
    ></div>
    <div
      class="wave wave3"
      style="background-image: url('{{ .Site.BaseURL }}/img/wave.png');"
    ></div>
    <div
      class="wave wave4"
      style="background-image: url('{{ .Site.BaseURL }}/img/wave.png');"
    ></div>
    <div class="centerAll">
      <div class="title text-6xl font-bold text-center">
        {{if  $.Site.Params.maintitle }}{{ $.Site.Params.maintitle }}{{else}}Hello, World{{end}}
      </div>
      <div class="text text-xl text-center">{{if $.Site.Params.maintext}}{{ $.Site.Params.maintext }}{{else}}Edit config.toml/params{{end}}</div>
    </div>
  </div>
  <main class="container mx-auto mt-8 px-4 xl:px-0">
    {{ $home := .Site.Data.home }}
    <section id="about" class="md:flex justify-around">
      <div class="my-auto md:mr-4">
        {{ partial "home_title" (dict "title" "About Me") }}
        <div class="flex mt-3 gap-3 text-xl">
          {{ range $home.about.link }}
            <a href="{{ .url }}"><i class="{{ .icon }}"></i></a>
          {{end}}
        </div>
      </div>
      <div class="mt-4 md:mt-0 md:ml-4">
        <div class="text-2xl font-bold">
          {{ if $home.about.title }}{{$home.about.title}}{{else}}You can put
          text in data/home/about.toml/title{{end}}
        </div>
        <div class="text-lg mt-3">
          <div>
            {{ if $home.about.text}}{{ replace $home.about.text "\n" "<br />" | safeHTML }}
            {{else}}You can put text in
            data/home/about.toml/text{{end}}
          </div>
        </div>
      </div>
    </section>
    {{ $data := .Site.Data.extend }}
    {{ range .Site.Menus.main }}
      {{ if eq .Identifier "skills" }}
        {{ partial "skills" $data.skills }}
      {{end}}
      {{ if eq .Identifier "languages" }}
        {{ partial "languages" $data.languages }}
      {{end}}
      {{ if eq .Identifier "projects" }}
        {{ partial "projects" $data.projects }}
      {{end}}
      {{ if eq .Identifier "experiences" }}
        {{ partial "experiences" $data.experiences }}
      {{end}}
    {{end}}
  </main>
</div>
